html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: Poppins;
  color: #424B54;
  background-image: url("../static/img/air.jpg");
  background-size:cover;
  background-color: #1E90FF;
  padding-bottom: 11rem;
}
#main-container {
  background-color: #F2F3F4;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 5px solid #FFD700;
}
#info{
    font-size: 70px;
}
#city {
  font-size: 70px;
}

#warning{
  margin-top: 1px;
  font-size: 10px;
}
#border
{
  border: 0.5px solid #FFD700;
  border-radius: 15px;
	text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
}

hr.style1 {
  border-top: 1px solid #FFD700;
  border-radius: 10px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

#ip{
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 15px;
}

#lat-lon{
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 15px;
  
}


#current-weather {
  max-width: 400px;
  
}
.valign {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
#temp {
  font-size: 40px;
}

#description {
  font-size: 20px;
  font-weight: bold;
}

hr.style2 {
  border-top: 3px solid #FFD700;
  border-radius: 10px;
	text-align: center;
  max-width: 350px;
  margin-top: 1px;
}
#date{
  margin-top: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

/*"natural" footer - stays at the bottom of the page but if page is longer than viewport, will need to scroll*/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem 0rem;
  text-align: center;
  font-size: 15px;
}
footer a {
  color: #ffffff;
}
#collapse1 a {
  color: #FFD700;
}
#attribution-panel {
  max-width: 350px;
}
#panel-heading {
  background-color: #f5f6f7;
  border: 1.5px solid #FFD700;
  border-radius: 0px;
}
