<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins">

</head>

<body>
  <div id="main-container" class="container">
      <h1 id="city" class="text-center">{{location}}</h1>
      <h1 id="warning"  class="text-center" >{{warning}}</h1>
      <hr class="style2">
      <div id="border"class="col-xs-12 valign" align="center">
        <h1 id="ip">IP ADRESİNİZ: {{remote_ip}}</h1>
        <hr class="style1">
        <h1 id="lat-lon">Konum Bilgisi --> Enlem:{{weather['coord']['lat']}}  ,  Boylam:{{weather['coord']['lon']}}</h1>
      </div> 
      <div id="current-weather" class="container">
      <div class="row">
        <div class="col-xs-12 valign" align="center">
          <h1 id="temp">{{weather['main']['temp']}} °C</h1>
          <h1 id="description" > Hava durumu : {{weather['weather'][0]['description']}}</h1>
        </div>
      </div>
    </div>
    <hr class="style2">
     <div class="col-xs-12 valign"align="center">
      <h1 id="date" > {{date}}</h1>
      </div>
   </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</body>


<footer>
  <div id="attribution-panel" class="container">
    <div class="panel-group">
      <div class="panel panel-default">
        <div id="panel-heading" class="panel-heading">
          <h4 class="panel-title" style="font-size: 12px">
            <a data-toggle="collapse" href="#collapse1">Data & Content Attribution</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <ul class="list-group" style="font-size: 10px">
            <li class="list-group-item">Weather data from <a href="https://openweathermap.org/">OpenWeatherMap API</a> </li>
            <li class="list-group-item">Location data from <a href="https://ipstack.com/">IP Stack API</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p> Copyright &copy; 2019 H.Kübra Argunhan </p>
</footer>
