<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins">

</head>

<body class="bg-{{current['background']}}">
  <div id="main-container" class="container">
      <h1 id="info" class="text-center">{{info}}</h1>
      <h1 id="city" class="text-center">{{location['city'] if location}}</h1>
      <h1 id="warning"  class="text-center" >{{warning}}</h1>
      <hr class="style2">
      <div id="border"class="col-xs-12 valign" align="center">
        <h1 id="ip">YOUR IP ADDRESS: {{remote_ip}}</h1>
        <hr class="style1">
        {% if location %}
        <h1 id="lat-lon">Location --> Latitude:{{location['latitude']}}  ,  Longitude:{{location['longitude']}}</h1>
        {% endif %}
      </div> 
      <div id="current-weather" class="container">
      <div class="row">
        <div class="col-xs-12 valign" align="center">
          <h1 id="temp">{{current['temp']}} °C</h1>
          <h1 id="description" > Weather : {{current['description']}}</h1>
        </div>
      </div>
    </div>
    <hr class="style2">
     <div class="col-xs-12 valign"align="center">
      <h1 id="date" > {{date}}</h1>
      </div>
    {% if forecast %}
    <hr class="style2">
    <div id="forecast">
      <h2 id="forecast-title">{{forecast_days}}-Day Forecast</h2>
      <table>
        <tbody>
        {% for f in forecast %}
          <tr>
            <td class="forecast-day">{{f['day']}}</td>
            <td>{{f['description']}}</td>
            <td class="forecast-temp">{{f['max']}}° / {{f['min']}}°</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
   </div>
<footer>
  <details id="attribution-panel">
    <summary>APIs Used</summary>
    <ul>
      <li>Weather: <a href="https://open-meteo.com/">Open-Meteo.com</a> (CC BY 4.0)</li>
      <li>Location: <a href="https://ipapi.co/">ipapi.co</a></li>
    </ul>
  </details>
  <p> Copyright &copy; 2019 hakuar </p>
</footer>
</body>
</html>
